<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="mystyle.css">
    <title><%= myTitle %></title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="useName" /> <br><br>
      <button>send data to Mongo DB</button>
    </form>
    <h1>My name is <%= userName %></h1>
  </body>
</html>
